<!doctype html>
<html ng-app="foodPlaces">
  <head>
    <title>Food Places</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/PlacesController.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Righteous|Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css">

  </head>
  <body>
    <div class="container" ng-controller="PlacesCtrl">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 well">
          <h1 class="text-center"><img src="imgs/pig.png" alt="pig logo">  Pudgy Portland</h1>
          <br>
        </div>
      </div><! end of row 1 -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2 well">
          <div class="list well">
            <h4 class="text-center" ng-show="places.length && filtered.length">All Restaurants<hr></h4>
            <h4 class="text-center" ng-show="places.length && !filtered.length">No Food Places</h4>

            <ul class="places-list">
            <li ng-repeat="place in filtered = (places | filter:query)">
              <span ng-click="editing = true" ng-hide="editing">
              <span class="highlight-text">Restaurant Name:</span>  {{place.name}}  
              <span class="highlight-text">Food Type:</span> {{place.type}}
              <a ng-click="deletePlace(place)"><span class="text-danger">&nbsp &nbsp Delete Listing</span></a>
              </span>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
              <form class="form-inline" role="form">
                <div class="form-group">
                 <input type="text" class="form-control input-sm" ng-model="place.name" placeholder="Name of Place" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm" ng-model="place.type" placeholder="Type of Food" required>
                </div>
                 <button class="btn btn-info btn-sm" type="submit">Save</button>
              </form>
              </span>
              </li>
            </ul>

          </div><!-- end of list well -->
          <h4 class="text-center">Add a New Food Place</h4>
          <center>
            <form ng-submit="addPlace();" class="form-inline" role="form">
              <div class="form-group">
                <input type="text" ng-model="placeName" class="form-control" placeholder="Enter Location's Name">
              </div>
              <div class="form-group">
                <input type="text" ng-model="placeType" class="form-control" placeholder="Enter Location's Food Type">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
              </form>

              <h4 class="text-center">Search Places to Eat</h4>
              <form class="form-inline search-box" role="form">
                <div class="form-group">
                  <input ng-model="query" type="text" id="place-name" class="form-control" placeholder="search places">
                </div>
            </form>
          </center>
        </div><!-- end of col 8 div -->


      </div><!--end of row 2 -->
    </div><!--end of container -->
  </body>
</html>
